[submodule "spotless"]
	path = spotless
	url = https://github.com/mposa/spot.git
	branch = master
[submodule "cmake"]
	path = cmake
	url = https://github.com/RobotLocomotion/cmake.git
	branch = master
	ignore = dirty
