[submodule "spotless"]
	path = spotless
	url = git://github.com/mmt/spotless.git
	branch = master
[submodule "cmake"]
	path = cmake
	url = https://github.com/RobotLocomotion/cmake.git
	branch = master
